# LOCAL CONFIG FILES
.vscode

# CACHES
.modeling_cache
__pycache__

# PyPI
dist
geniverse.egg-info
build
experiments

# DOCS
docs/build

# IMAGES
/*.png
/*.jpg
/*.mp4

# SAVED LATENTS FOR TESTING
/*.pt

generations
video_generations