[submodule "forks/taming_transformers"]
	path = forks/taming_transformers
	url = https://github.com/vipermu/taming-transformers
[submodule "forks/vqgan_jax"]
	path = forks/vqgan_jax
	url = https://github.com/vipermu/vqgan-jax
[submodule "forks/dalle_mini"]
	path = forks/dalle_mini
	url = https://github.com/vipermu/dalle-mini
[submodule "forks/clip"]
	path = forks/clip
	url = https://github.com/vipermu/CLIP
